
<div class="container justify-content-center text-center">
    <div class="card text-center " style="width: 18rem;">
    
    </div>
    
    <div class="card text-center">
        <div class="card-header">
            Mascota
        </div>
        <div class="card-body">
            <h2 class="card-title">{{mascota?.nombre}}</h2>
            <h3 class="card-subtitle mb-2 text-body-secondary">{{mascota?.fechaNacimiento}}</h3>
        
            <a routerLink="/mascotas" class="card-link"><i class="bi bi-backspace"></i> Regresar</a>
        </div>
        
    </div>
</div>